@import "tailwindcss";

.MuiBadge-badge {background-color: #ff5252 !important;}
.overflow-x-auto::-webkit-scrollbar-thumb{background: #ccc;}
::-webkit-scrollbar{width: 10px !important; height: 10px !important;}
::-webkit-scrollbar-thumb{background: #8f8f8f !important;}

body{font-family: "Montserrat", serif; background: #f1f1f1;}

.ReactCollapse--collapse {
  transition: height 300ms;
}

.btn{ padding: 8px 20px !important;}
.btn svg{font-size: 20px;}
.btn-blue{background: #025fa1 !important; color: #fff !important; padding: 8px 20px !important;}
.btn-blue:hover{background: #147cc7 !important;}
.btn-sm{padding: 6px 20px !important; font-size: 13px !important;}
.btn-lg{padding: 8px 20px !important; font-size: 16px !important;}

.bg-primary{background: #fa0101 !important; color: #fff !important;}
.text-primary{color: #fa0101 !important;}
.hover\:text-primary:hover{color: #02a2ff !important;}

th.MuiTableCell-root {
  background-color: #f1f1f1 !important;
  padding-top: 0.25rem !important;
  padding-bottom: 0.25rem !important;
}

a.active button{background: #e3e3e3 !important;}

.MuiButton-icon svg{font-size: 27px !important;}

.css-ritz0-MuiTypography-root {font-size: 14px !important;}

.MuiAppBar-colorPrimary{background: #e6e6e6 !important;}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

.MuiSelect-select{background: #fff !important;}

.MuiDialog-paper{background: #f9fafb !important;}

.MuiTableBody-root tr:nth-child(even){background: #f1f1f1 !important;}